get-pip.py
ui/__pycache__/cte.cpython-38.pyc
ui/__pycache__/algoritmo.cpython-39.pyc
ui/__pycache__/cte.cpython-39.pyc
ui/__pycache__/database.cpython-39.pyc
ui/__pycache__/values.cpython-39.pyc
ui/__pycache__/cte.cpython-39.pyc
ui/__pycache__/algoritmo.cpython-37.pyc
ui/__pycache__/cte.cpython-37.pyc
ui/__pycache__/cte.cpython-39.pyc
ui/__pycache__/database.cpython-37.pyc
ui/__pycache__/values.cpython-37.pyc
